 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            
             <div class="row justify-content-center">
                <div class="col-lg-4 text-center">
                    <p>Purdue AUVSI is a club which focuses on developing highly autonomous robots. We mainly use ROS for our robotics applications. We teach our members topics such as state estimation, control algorithms, and machine learning.
                 We have a workspace at Purdue University's Anvil.</p>
                </div>
            </div>
        </div>
    </section>
