<div class="tile">
  <div>
  	{% if member.image %}
      <img src="{{ site.url }}/images/members/{{ member.image }}" alt="{{member.name}}" itemprop="image">
    {% else %}
      <img src="{{ site.url }}/images/members/bio-generic.png" alt="temporary-photo" itemprop="image">
    {% endif %}
  </div>
  <p itemprop="description">
    <b> {{ member.name }} </b> <br>
    {% if member.position %}
      {{ member.position }} <br>
    {% endif %}
    {{ member.major }} <br>
    Class of {{ member.year }} <br>
  </p>
</div>
