<article class="tile" itemscope itemtype="http://schema.org/Article">
  <a class="sponsor-image">
  	{% if sponsor.image %}
      <a href="{{ sponsor.url }}"/>
      <img src="{{ site.url }}/images/sponsors/{{ sponsor.image }}" alt="{{sponsor.name}}" itemprop="image">
    {% else %}
      <a href="{{ site.url }}/contact/"/>
      <img src="{{ site.url }}/images/profile.png" alt="temporary-photo" itemprop="image">
    {% endif %}
  </a>
  <h2 class="post-title" itemprop="name">
    {{ sponsor.name }}
  </h2>
  <p class="post-excerpt" itemprop="description">
    {{ if sponsor.tier }}
      {{ sponsor.tier }} <br />
    {{ endif }}
  </p>
</article><!-- /.tile -->

