<div class="tile">
  <div>
    {% if sponsor.url %}
      <a href="{{ sponsor.url }}">
    {% else %}
      <a href="{{ site.url }}/contact/">
    {% endif %}
      {% if sponsor.image %}
        <img class="sponsor-image" src="{{ site.url }}/images/sponsors/{{ sponsor.image }}" alt="{{sponsor.name}}"
        itemprop="image">
      {% else %}
        <img class="sponsor-image" src="{{ site.url }}/images/arc_default.png" alt="temporary-photo"
        itemprop="image">
      {% endif %}
    </a>
  </div>
  <h5 itemprop="name">
    {{ sponsor.name }}
  </h5>
</div>

