<Section class="section" relative id="Calendar">
  <div style="max-width: {{ .Page.Params.hero.maxWidthPX }}px;">
    <h2 class="hero-subheading" style="z-index:2;position:relative;text-align:left;">Calendar</h2>
  </div>
  <div class="center">
				<iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=America%2FNew_York&amp;src=OG1tcDQ3YmlxaWVxaG4zOXNsbmY2cm1pOHNAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;src=ZW4udXNhI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;color=%238A2D38&amp;color=%239F3501&amp;showTitle=1&amp;showNav=1&amp;showPrint=1&amp;showCalendars=1&amp;showTz=1" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
  </div>
</Section>
