<Section class="section" relative id="Discord">
  <div style="max-width: {{ .Page.Params.hero.maxWidthPX }}px;">
    <h2 class="hero-subheading" style="z-index:2;position:relative;text-align:left;">Join the community</h2>
      <p>
        <a href="/members"><b>Meet</b></a> the members and check out our <a href="/blog"><b>blog</b></a>!
      </p>
    </div>
  <div class="center">
    <iframe style="z-index:2;position:relative"src="https://discord.com/widget?id=868977679590883420&theme=dark" height="350" allowtransparency="false" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
  </div>
</Section>
