.social-icon-outer {
  width: 20%;
  min-width: 220px;
}

@media screen and (max-width: $tablet) {
  .authors-sio {
    width: 60%;
  }
}

.social-icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-evenly;
  min-width: 100%;
  position: relative;
  margin-left: 3.2rem;
  text-decoration: none;
  max-width: 16px;
}

.social-icon-container:hover > svg {
  fill: var (--primary);
}

.social-icon-container:hover > * {
  -webkit-transition: fill 0.25s var(--ease-in-out-quad);
  -o-transition: fill 0.25s var(--ease-in-out-quad);
  transition: fill 0.25s var(--ease-in-out-quad);
}

.social-icon-container:first-of-type {
  margin-left: 0;
}

.social-icon-container:last-child {
  margin-right: 0;
}

@media screen and (max-width: $tablet) {
  .social-icon-container {
    margin: 0 2.2rem;
  }
}

.social-icon-image {
  path {
    fill: var(--grey);
  }
}

.hidden {
  width: 0px;
  height: 0px;
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
  display: inline-block;
}
