<Section class="section" relative id="Articles__Hero">
    <div class="subheading-container">
        <div class="grid-controls-container">
            <button id="btnGrid" class="grid-button">
                {{ partial "icons/ui/tiles.html" . }}
            </button>
            <button id="btnRows" class="grid-button">
                {{ partial "icons/ui/rows.html" . }}
            </button>
        </div>
    </div>
</Section>
<Section className="section narrow">
  {{ partial "articles/list.html" . }}
</Section>
<div class="articles-gradient"></div>
{{ $script := resources.Get "js/toggleLayout.js" }}
<script src="{{ $script.RelPermalink }}"></script>
