<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8'>
		<link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">
		<link rel="stylesheet" type="text/css" href="stylesheets/github-dark.css" media="screen">
		<link rel="stylesheet" type="text/css" href="stylesheets/print.css" media="print">
		<!--[if lt IE 9]>
			<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<title>{{page.title}}</title>
	</head>

	<body>
		<div id="container">
			<header>
				<ul> Drop Down
					<li>Item 1</li>
					<li>Item 2</li>
				</ul>
				<ul> Drop Down
					<li>Item 1</li>
					<li>Item 2</li>
				</ul>
			</header>
			<div class="inner">
				<img src="../images/pauvsi.png">

				{{ content }}

				<footer>
					<!--h1>Sponsors</h1-->
					<a href="http://www.boeing.com/"><img src="../images/sponsors/Boeing.png"></a>
					<a href="http://www.purdueesc.org/"><img src="../images/sponsors/Pesc.png"></a>
				</footer>
			</div>
		</div>
	</body>
</html>
